@font-face {
	font-family: 'icomoon';
	src: url('/public/fonts/icomoon.eot?k5tiwb');
	src: url('/public/fonts/icomoon.eot?k5tiwb#iefix') format('embedded-opentype'), url('/public/fonts/icomoon.ttf?k5tiwb') format('truetype'), url('/public/fonts/icomoon.woff?k5tiwb') format('woff'), url('/public/fonts/icomoon.svg?k5tiwb#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="base_icon"],
[class*="base_icon"] {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-right: 4px;
}

.iconBlog:before {
	content: "\e904";
}

.iconClock:before {
	content: "\e900";
}

.iconBubble:before {
	content: "\e805";
}

.iconUser:before {
	content: "\e901";
}

.iconSphere:before {
	content: "\e902";
}

.iconLink:before {
	content: "\e903";
}

.iconSafari:before {
	content: "\e80c";
}

body {
	background: rgba(255, 251, 242, 0.53);
	color: #66595c;
}

.main {
	margin-top: 70px;
	background: #fff;
	padding: 0px 20px;
	border: 1px solid rgba(0, 0, 0, 0.06);
	border-radius: 4px;
	max-width: 900px;
	margin: 0px auto;
	margin-top: 70px;
	margin-bottom: 50px;
	box-sizing: border-box;
}

a {
	transition: .3s;
}

@media (max-width: 600px) {
	.main {
		border-radius: 0px;
		padding: 0px;
		border-left: none;
		border-right: none;
	}
}
