.header {
	height: 45px;
	background: #fff;
	border-bottom: 1px solid rgba(0, 0, 0, 0.06);
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 2;
}

.header h1 {
	float: left;
	height: 45px;
	line-height: 45px;
	overflow: hidden;
	text-indent: -200px;
	position: relative;
	margin-left: 10px;
	width: 26px;
}

.header h1::before {
	content: 'Y';
	display: block;
	position: absolute;
	left: 0px;
	width: 26px;
	color: #fff;
	text-indent: 0px;
	background: #3D9C77;
	height: 26px;
	line-height: 30px;
	text-align: center;
	margin-top: 10px;
	border-radius: 4px;
}

.header nav {
	float: right;
}

.header nav div {
	display: inline-block;
}

.header nav a {
	display: inline-block;
	padding: 0px 5px;
	margin: 0px 10px;
	color: #66757f;
	text-decoration: none;
	height: 44px;
	line-height: 46px;
	font-size: 14px;
	border-bottom: 2px solid #fff;
	vertical-align: top;
}

.header nav a:hover {
	color: #088253
}

.header nav a.current {
	border-bottom: 2px solid #088253;
	color: #088253;
}

.submit {
	font-size: 18px!important;
}

.user {
	font-size: 18px!important;
}

.autoWidth {
	max-width: 900px;
	margin: 0px auto;
}

.showMenu {
	display: none;
	width: 22px;
	border-top: 3px solid #66757F;
	position: absolute;
	left: 10px;
	top: 15px;
	height: 17px;
}

.showMenu::before {
	content: '';
	display: block;
	width: 100%;
	height: 0px;
	margin-top: 4px;
	border-bottom: 3px solid #66757F;
}
.showMenu::after {
	content: '';
	display: block;
	width: 100%;
	height: 0px;
	margin-top: 4px;
	border-bottom: 3px solid #66757F;
}

.showCurrent {
	border-top: 3px solid #fff;
}
.showCurrent::before{
	margin-top: 7px;
	transform: rotate(45deg);
	transition: .3s;
}
.showCurrent::after{
	margin-top: -3px;
	transition: .3s;
	transform: rotate(-45deg);
}

@media (max-width: 600px) {
	.showMenu {
		display: block;
	}
	.mainTop{
		transition: .3s;
		margin-top: 114px!important;
	}
	.header nav div {
		display: none;
		position: absolute;
		width: 100%;
		left: 0px;
		transition: .3s;
		background: #66757F;
		top: 44px;
		box-shadow: 0px 0px 2px #ccc;
	}
	.header nav div a {
		color: #fff;
		margin: 0px 8px;
		border-bottom: 2px solid #66757F;
	}
	.header nav div.menuShow {
		display: block;
	}
	.header nav div a.current {
		color: #B0F3D8;
		border-bottom: 2px solid #B0F3D8;
	}
	.header h1 {
		position: absolute;
		left: 50%;
		margin-left: -13px;
	}
}
