.timeLine {
	padding: 0px 0px;
}

.timeLine li {
	border-bottom: 1px solid #f5f8fa;
	padding: 20px 0px 10px 0px;
	transition: .3s;
	position: relative;
}

.timeLine li:hover {
	background: #fafafa;
}

.timeLine li i {
	float: left;
	width: 50px;
	text-align: center;
	display: block;
	height: 50px;
	line-height: 52px;
	color: #aaa;
}

.timeLine li button {
	float: left;
	display: block;
	width: 50px;
	line-height: 1;
	border: 1px solid rgba(204, 204, 204, 0.42);
	background: none;
	color: #bbb;
	padding-top: 22px;
	border-radius: 4px;
	position: relative;
	cursor: pointer;
	outline: none;
	transition: .3s;
	background: #fff;
	height: 55px;
}

.jobs li button{
	display: none;
}

.timeLine li button::before {
	content: '';
	border-color: transparent transparent #ccc transparent;
	border-style: solid;
	border-width: 0px 8px 8px 8px;
	width: 0;
	font-size: 0;
	height: 0;
	display: block!important;
	position: absolute;
	left: 15px;
	top: 9px;
	transition: .3s;
}

.jobs li button{
	display: none;
}

.timeLine li button:hover {
	border: 1px solid #81bfa7;
	color: #81bfa7;
}

.timeLine li button:hover::before {
	border-color: transparent transparent #81bfa7 transparent;
}

.timeLine li .content {
	margin-left: 120px;
}

.jobs li .content {
	margin-left: 60px;
}

.timeLine li .actionArea {
	margin-top: 10px;
	font-size: 12px;
	color: #999;
}

.timeLine li h3 {
	font-size: 16px;
}

.timeLine li h3 a {
	color: #0084B4;
	text-decoration: none;
}

.timeLine li h3 a:hover {
	color: #088253;
	text-decoration: underline;
}

.timeLine li cite {
	font-size: 12px;
}

.timeLine li cite a {
	color: #999;
	text-decoration: none;
}

.timeLine li cite a:hover {
	text-decoration: underline;
}

.timeLine li cite time {
	color: #aaa;
	margin-left: 10px;
}

.timeLine li .actionArea a {
	color: #aab8c2;
	text-decoration: none;
	margin-right: 40px;
	vertical-align: top;
}

.timeLine li .actionArea a:hover {
	color: #088253;
	text-decoration: underline;
}

.timeLine li .actionArea a span {
	height: 14px;
	display: inline-block;
	vertical-align: top;
}

.timeLine li .actionArea a span[class^="icon-"] {
	margin-right: 4px;
}

.noMoreNews {
	text-align: center;
	font-size: 14px;
	color: #999;
	padding: 30px;
}

.jobsComment{
	display: none
}

@media (max-width: 600px) {
	.timeLine {
		padding: 0px;
	}
	.timeLine li {
		padding: 25px 0 15px;
	}
	.timeLine li i {
		width: auto;
		position: absolute;
		top: 4px;
		font-size: 12px;
		height: 20px;
		line-height: 20px;
		left: 10px;
		color: #ccc;
	}
	.timeLine li button {
		margin-left: 10px;
	}
	.timeLine li .content {
		margin-left: 70px;
		margin-right: 10px;
	}
	.jobs li .content {
		margin-left: 10px;
	}
	.timeLine li .actionArea a {
		margin-right: 20px;
	}
	.user {
		position: absolute;
		top: 7px;
		right: 10px;
		margin-right: 0px!important;
	}
}
