.commentList h4 {
	font-size: 14px;
	color: #888;
	margin:10px 0px;
}

.commentList ul {
	margin: 0px 0px;
	font-size: 14px;
	color: #888;
	line-height: 1.3;
	border-top: 1px solid #F5F8FA;
}

.commentList ul code {
	word-break: break-all;
}

.commentList ul li {
	margin: 10px 0px;
	border-bottom: 1px solid #F5F8FA;
	padding-bottom: 10px;
}

.commentList ul li:last-child {
	border-bottom: none;
}

.commentList ul ul {
	margin: 10px 0px 10px 10px;
	border-left: 2px solid #E9EBEC;
	padding: 10px;
	background: #F5F8FA
}

.commentList ul ul ul {
	margin: 10px;
	background: #fff
}

.commentContent {}

.commentContent p {
	margin-bottom: 10px;
}

.commentContent p:last-child {
	margin-bottom: 0px;
}

.commentMeta {
	display: block;
	margin: 5px 0px;
	color: #bbb
}

.titleContent {
	margin-left: 70px!important;
	margin-bottom: 10px;
}
.hoverNone li:hover{
	background: none!important;
}

@media (max-width: 600px) {
	.commentList ul {
		margin: 0px 10px;
	}
}
