.login {
	padding: 30px;
}

.login h3 {
	text-align: center;
	color: #888;
	font-size: 14px;
}

.login a {
	display: block;
	width: 270px;
	margin: 0px auto;
	background: rgba(8, 130, 83, 0.62);
	border: 1px solid #489477;
	color: #fff;
	padding: 7px;
	font-size: 14px;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 20px;
	text-align: center;
	text-decoration: none;
}
